/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

@font-face {
  font-family: 'code';
  font-style: normal;
  src: local('code'), url(/fonts/mttmilano-bold-webfont.ttf) format('truetype');
}

body {
  margin: 0;
}

.animated-button {
  animation: buttonAnimation 4s linear infinite;
}

@keyframes buttonAnimation {
  0%, 100% {
    transform: scale(1) rotate(0deg);
    box-shadow: none;
  }
  5% {
    transform: scale(1.05) rotate(20deg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  10% {
    transform: scale(1.05) rotate(-20deg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  15% {
    transform: scale(1.05) rotate(20deg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  20% {
    transform: scale(1.05) rotate(-20deg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  25% {
    transform: scale(1) rotate(0deg);
    box-shadow: none;
  }
}

.down1 {
  animation: downAnimation1 4s linear;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.down2 {
  animation: downAnimation2 4s linear;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes downAnimation1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  20% {
    transform: translateY(20vh) rotate(20deg);
  }
  40% {
    transform: translateY(40vh) rotate(-20deg);
  }
  60% {
    transform: translateY(60vh) rotate(10deg);
  }
  80% {
    transform: translateY(80vh) rotate(-5deg);
    opacity: 1
  }
  99% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
    display: hidden;
    opacity: 0
  }
}
@keyframes downAnimation2 {
  0% {
    transform: translateY(0) rotate(0);
  }
  20% {
    transform: translateY(20vh) rotate(-10deg);
  }
  40% {
    transform: translateY(40vh) rotate(0deg);
  }
  60% {
    transform: translateY(60vh) rotate(-20deg);
  }
  80% {
    transform: translateY(80vh) rotate(5deg);
    opacity: 1
  }
  99% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
    display: hidden;
    opacity: 0
  }
}
